body {
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#mainTitle {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#gameWindow {
    width: 800px;
    height: 600px;
    background-color: midnightblue;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

#mainCharacter {
    left: 4px;
    top: 523px;
}

.gameObject {
    position: absolute;
    transition: all 1s ease-in-out;
    /*background-color: #fff;*/
}

.foreground {
    z-index: 1000;
}

.character {
    z-index: 100;
}

.background {
    z-index: 0;
}